@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-gray-100 text-xl sm:hover:text-2xl sm:cursor-pointer;
  }
}

@layer components {
  .alura-input {
    @apply py-1 pl-5 w-full max-w-lg dark:bg-dark-200 text-dark-200 dark:text-gray-200 rounded-full outline-none 
    dark:outline-none placeholder:text-gray-400 placeholder:dark:text-gray-600 placeholder:text-xs placeholder:uppercase
    placeholder:font-bold focus:border-2 focus:border-alura-200 focus:dark:border-alura-100 focus:invalid:border-2 
    focus:invalid:border-red-400 focus:invalid:dark:border-2 focus:invalid:dark:border-red-400;
  }

  .alura-button {
    @apply py-1 px-5 w-full max-w-sm bg-alura-100 dark:bg-dark-200 rounded-full text-gray-200 dark:text-gray-200
    uppercase outline-none hover:animate-pulse hover:shadow-md hover:shadow-gray-500 hover:dark:shadow-black;
  }

  .alura-card {
    @apply p-5 bg-gray-200 dark:bg-dark-200 sm:rounded-xl sm:shadow-lg flex flex-col items-center sm:hover:shadow-gray-500 
    sm:hover:dark:shadow-black sm:hover:shadow-lg;
  }
}
